@{
    ViewBag.Title = "Pong";
}

<script src="@Url.Content("~/Scripts/Pong.js")" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {
        var pong = new Pong("#pongCanvas", "#message", "#score", "ws://" + window.location.host + '@Url.Content("~/Pong.ashx")');
    });
</script>

<canvas id="pongCanvas" width="400" height="300" style="border: solid 1px; cursor: none;">
    Sorry, no canvas support in this browser...
</canvas>
<p id="message">Connecting...</p>
<h3 id="score"></h3>
